<p>Hey {{name}},</p>
<p>You are created an order</p>

<table>
  <thead>
    <tr>
      <th>
        Order Number
      </th>
      <th>
        Order Time
      </th>
      <th>
        Order Status
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{order.orderNo}}
      </td>
      <td>
        {{order.createdAt}}
      </td>
      <td>
        {{order.status}}
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>
        №
      </th>
      <th>
        Product Name
      </th>
      <th>
        Quantity
      </th>
      <th>
        Product Price
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each order.products}}
      <tr>
        <td>1</td>
        <td>{{this.product.description}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.product.price}}</td>
      </tr>
    {{/each}}
    <tr>
      <td>
        order.totalSum
      </td>
    </tr>
  </tbody>
</table>

<p>If you did not request this email you can safely ignore it.</p>
